<nav class="navigation-bar dark" style="position: fixed; top: 0px;">
    <nav class="navigation-bar-content">
        <item class="element">
            SSD XML Wording Editor v0.0.1
        </item>

        <item class="element-divider"></item>

        <!--
        <a class="element brand place-right">
            <span class="icon-spin"></span>
        </a>
        -->

        <a class="element brand place-right" ng-click="download_xml()">
            <span class="icon-download"></span>
        </a>

        <a class="element brand place-right" ng-click="open_file();">
            <span class="icon-folder"></span>
        </a>

        <code style="display: none;">
            <input type="file" id="input_file" file-model="input_file" />
        </code>
    </nav>
</nav>

<table class="table hovered" style="margin-top: 45px;">
    <thead>
        <tr>
            <th style="width: 300px;">Name</th>
            <th>Value</th>
        </tr>
    </thead>
    <tbody>
        <tr ng-repeat="row in xml_string_tag_store">
            <th style="text-align: left; color: #1e7145;">{{row.name}}</th>
            <!-- <td style="text-align: left; color: #2b5797;" contenteditable="true">{{row.value}}</td> -->
            <td style="text-align: left; color: #2b5797;">
                <textarea style="text-align: left; color: #2b5797; width: 100%; border-width: 0px; resize:vertical;" contenteditable="true" ng-model="row.value"></textarea>
            </td>
        </tr>
    </tbody>
</table>
