<nav class="navigation-bar dark">
    <nav class="navigation-bar-content">
        <item class="element">SSD XML Wording Editor v0.0.1</item>
        <item class="element-divider"></item>
        <a class="element brand place-right" href="#"><span class="icon-spin"></span></a>
        <a class="element brand place-right" href="#"><span class="icon-folder"></span></a>
        <a class="element brand place-right" href="#"><span class="icon-download"></span></a>
    </nav>
</nav>

<table class="table hovered">
    <thead>
        <tr>
            <th>Name</th>
            <th>Value</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>1</td>
            <td>2</td>
        </tr>
    </tbody>
</table>
